html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width' initial-scale='1')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        link(rel='stylesheet' href='css/bootstrap.css')
    body
        section.bienvenidos
            header.encabezado
                div.container
                    nav.navbar.navbar-light.bg-faded
                        button.navbar-toggler.hidden-sm-up.pull-xs-right(type='button') &#9776;
                        a.navbar-brand(href='#') Prueba*2 de Git superada
                        


